  #firstPageBody{
    background-color: black;
    background-image: url("영화배경.png");
    background-size: 100% 200%;
  }
  #firstPageH1{
    margin-top: 100px;
    margin-bottom: 100px;
    color:white;
    text-align: center;
    font-size: 250%;
  }
  #colorChange{
    color: rgb(239,174,103);
  }
  .form,
  .name{
    display: none;
  }
  .showing{
    text-align: center;
    display: block;
  }
  p{
    text-align: center;
  }
  h4{
    color:white;
    font-size: 30px;
  }
  #firstPageA{
    font-size: 150%;
    text-decoration: none;
    color:white;
    background-color: rgb(239,174,103);
    display: inline-block;
    padding: 20px 60px;
  }
